<div class='container main-content'>
<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="row justify-content-center">
      <div class="text-center col-md-12">Developed by :</div>
      <div class="col-4" style="width: 200px;">
        <h3 class="text-center">Bilal DEKAR</h3>
        <div class="text-center">
          <a href="https://www.linkedin.com/in/bilal-dekar-49821776/" target="_blank">LinkedIn</a>
        </div>
      </div>
    </div>
  </div>
</div></div>